*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}

*:after,
*:before{
    box-sizing:inherit;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding:0;
}

button,
[type="submit"]{
    cursor: pointer;
    -webkit-appearence: button;
}

p{
    margin-inline-start: 0;
    margin-inline-end:0;
    padding:0;
    margin: 0;

}

code{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}