* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:after,
*:before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

button,
[type="submit"] {
  cursor: pointer;
  -webkit-appearence: button;
}

p {
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  padding: 0;
  margin: 0;
}

code {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
  height: 100vh;
  background-color: #bfbfbf;
}

body .container {
  width: 80%;
  background-color: #262626;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: -13px 10px 6px black;
          box-shadow: -13px 10px 6px black;
  margin-top: 20px;
  padding: 70px;
}

body .container h1 {
  color: lightcyan;
  font-weight: 700;
  font-size: 80px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body .container p {
  color: lightcyan;
  margin-top: 20px;
}

body .container a {
  color: lightcyan;
  margin-top: 20px;
}
/*# sourceMappingURL=main.css.map */