@import './reset';
@import './variables';
@import './mixins';


@function weight($key){
    @return map-get($font-weight, $key);
}

@mixin marginTopContent {
    margin-top: 20px;

}
@mixin boxShadowTheme{
    box-shadow: -13px 10px 6px rgba(0, 0, 0,78%);
}
 
body{
    height: 100vh;
    background-color: darken(#fff, 25%);

    .container{
        width: 80%;
        background-color: lighten(#000, 15%);
        margin: 0 auto;
        @include flexCenter(column);
        @include boxShadowTheme();
        @include marginTopContent();
        padding: 70px;

    h1{
        color: $primary-color;
        font-weight: weight(bold);
        font-size: map-get($font-sizes, big);
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    p{
        color: $primary-color;
        @include marginTopContent();
    }

    a{
        color: $primary-color;
        @include marginTopContent();
    }
}
}